{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-class-pattern": null,
    "custom-property-pattern": null,
    "color-function-notation": "legacy",
    "alpha-value-notation": "number",
    "no-descending-specificity": null,
    "font-family-no-missing-generic-family-keyword": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "property-no-vendor-prefix": null,
    "value-no-vendor-prefix": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  },
  "ignoreFiles": [
    "**/*.min.css",
    "**/vendor/**",
    "**/node_modules/**",
    "**/.build/**",
    "**/dist/**"
  ]
}
